.mainPage {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.meal_img {
  width: 30rem;
  height: 30rem;
  border-radius: 1rem;
}

.meal_of_the_day {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #d49726;
}

.category {
  color: black;
}

.search_input {
  box-sizing: border-box;
  width: 15rem;
  height: 3rem;
  background-color: #ffffff;
  border: 0.5px solid #000000;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  outline: none;
  color: #000000;
}

.search_button {
  box-sizing: border-box;
  width: 5rem;
  background-color: #d49726;
  border: none;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  outline: none;
}

.target_meal_section {
  margin-top: 3rem;
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.meal_info_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

@media screen and (width < 769px) {
  .meal_of_the_day {
    flex-direction: column;
  }
  .target_meal_section {
    flex-direction: column;
  }
}
